.button {
  display: block;
  padding: 10px 24px;
  color: var(--primary-bg);
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: var(--color-secondary);
    background: transparent;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
