.package {
  position: relative;
  border-radius: 40px;
  padding: 30px 35px;
  height: 270px;
  box-shadow: 0 10px 60px 0 rgba(38, 45, 118, 0.08);
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;

  &--popular {
    border: 2px solid var(--color-accent);
  }

  &__popular-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--color-accent);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-secondary);
    display: flex;
    padding: 5px;
    border-radius: 10px;
  }

  &__title {
    font-size: 24px;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
  }

  &__divider {
    border: none;
    border-bottom: 1px solid var(--text-color-primary);
  }

  &__price {
    font-size: 20px;

    &--item {
      font-size: 28px;
      font-weight: 700;
      color: var(--color-secondary);
    }
  }

  &__plus {
    font-weight: 600;
    color: var(--color-text);
  }
}
