:root {
  --primary-bg: #FFFFFF;
  --secondary-bg: #d2e6e4;
  --secondary-bg-light: #BDBDD1;

  --text-color-primary: #696984;
  --color-secondary: #0b7077;
  --color-text-secondary: #0a033c;
  --color-text: #464646;
  --color-accent: #ffb800;
}

$bp-desktop: 1000px;
$bp-tablet: 768px;

