.footer {
  background-image: url('../../public/images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 32px 0;
  position: relative;

  &::before {
    z-index: 0;
    width: 700px;
    height: 150px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
    right: 0;
    background-image: url('../../public/images/footer-decor.png');
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__nav {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 70%;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-link {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--text-color-primary);
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__socials-icon {
    fill: var(--color-primary-light);
  }

  &__socials-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
  }
}
