.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-right: 60px;
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
    fill: var(--color-secondary);

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
