.testimonial {
  position: relative;
  box-shadow: 2px 4px 60px 0 rgba(41, 44, 124, 0.1);
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 14px;
    background-color: var(--color-secondary);
    border-radius: 20px 0 0 20px;
  }

  &__text {
    margin-left: 24px;
  }

  &__author {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text-secondary);
  }
}
