*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: var(--text-color-primary);
  background-color: var(--primary-bg);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

main {
  position: relative;
}
